<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81130982036-kpqs838l88lrdea2sni0seo8802kngbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81130982036-kpqs838l88lrdea2sni0seo8802kngbk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>81130982036-q1pcla86vc04kcbu1dlajf4skjjlsqt9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkWZeNO0h411lokVuwoBJI4x7qehswOU0</string>
	<key>GCM_SENDER_ID</key>
	<string>81130982036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sharedBudgetBook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>earnedon-6ce38</string>
	<key>STORAGE_BUCKET</key>
	<string>earnedon-6ce38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81130982036:ios:3965fed1759bf080e08281</string>
</dict>
</plist>